doctype html
html
   head
      title dboa-untangler
      link(rel='stylesheet' type="text/css" href="../vendor/bower_components/bootstrap/dist/css/bootstrap.min.css")
      link(rel='stylesheet' type="text/css" href="../vendor/bower_components/angular-ui-layout/ui-layout.css")
      link(rel='stylesheet' type="text/css" href="../css/main.css")
   body
      block content
      script(src='../js/bundle.js')
      script(type="text/javascript" src="../vendor/bower_components/angular-ui-layout/ui-layout.min.js")