doctype html
html
   head
      title dboa-untangler
      link(rel='stylesheet' href="../vendor/bower_components/bootstrap/dist/css/bootstrap.min.css")
   body
      block content
      script(src='../js/bundle.js')